[submodule "Rise/vendor/spdlog"]
	path = Rise/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Rise/vendor/GLFW"]
	path = Rise/vendor/GLFW
	url = https://github.com/leminhdiengithub/glfw.git
[submodule "Rise/vendor/imgui"]
	path = Rise/vendor/imgui
	url = https://github.com/leminhdiengithub/imgui.git
