[submodule "Rise/vendor/spdlog"]
	path = Rise/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Rise/vendor/GLFW"]
	path = Rise/vendor/GLFW
	url = https://github.com/leminhdiengithub/glfw.git
